
h1 {
text-align: center;
font-family: Arial;
}

img {
padding-top: 50px;
max-width: 100%;
}

img.weight {
padding-bottom: 15px;
}

p {
text-align: center;
padding-top: 10 px;
font-family: Arial;
}

div.mail {
  padding-top: 19px;
}

img.banner {
  max-width:100%;
  display:block;
  padding-top: 10px;
}

@media screen and (max-width:640px) {
  img.banner {
    max-width:100%;
  }
}
