body {
 background-image: url("");
 background-repeat: no-repeat;
 background-size:cover;
 background-attachment:fixed;
 }

h1.index {
 font-size:40px;
}

img.buttona {
 padding-right:15px;
 padding-bottom:5px;
}

img.banner {
  max-width:100%;
  padding-top: 10px;
  height:100%;
}

div.mail {
  padding-top: 19px;
}

div.buttons1 {
  padding-bottom: 13px;
}

div.buttons2 {
  padding-top: 5px;
}

div.images {
  padding-top: 25px;
  max-width:100%;
  height:auto;
}

p {
text-align: center;
padding-top: 10 px;
font-family: Arial;
width:100%;
}

div.mail {
  padding-top: 19px;
}

@media screen and (max-width:2200px) {
 body {
  max-width:100%
  height:auto;
 }
  img.banner {
    max-width:100%;
    height: auto;
  }
   img.design {
    max-width:100%;
    height: auto;
  }
  div.images {
    max-width:100%
    height: auto;
  }
   h1.index { 
    font-size: 30px !important; 
    max-width:100%;
  }
  p.about {
    font-size: 15px !important;
    max-width:100%;
    height:auto;
  }
}

@media screen and (max-width:720px) {
  body {
  max-width:100%
  height:auto;
 }
  img.banner {
    max-width:100%;
    height: auto;
  }
   img.design {
    max-width:100%;
    height: auto;
  }
  div.images {
    max-width:100%
    height: auto;
  }
 img.buttona {
 max-width:100%;
 height:auto;
 }
   h1.index { 
    font-size: 30px !important; 
    max-width:100%;
  }
  p.about {
    font-size: 8px !important;
    max-width:100%;
  }
}
