
h1 {
text-align: center;
font-family: Arial;
}

h2 { 
text-align: center;
font-family: Arial;
}

div.mail {
  padding-top: 19px;
}

img.banner-image {
  mad-width: 100%;
}

.banner {
  max-width:100%;
  display:block;
}

@media screen and (max-width:640px) {
  #container{
    max-width:100%;
  }
  img.banner-image {
    max-width:100%;
  }
}
