
p {
text-align: center;
padding-top: 10 px;
font-family: Arial;
width:100%;
}

div.mail {
  padding-top: 19px;
}

img.banner {
  max-width:100%;
  padding-top: 10px;
  height:100%;
}

h1.index {
   width:100%;
  }

 p {
text-align: center;
padding-top: 10 px;
font-family: Arial;
width:100%;
}

@media screen and (max-width:640px) {
  img.banner {
    max-width:100%;
    height: auto;
  }
   h1.index { 
    font-size: 18px !important; 
  }
}
