body {
 background-image: url("Online Portfolio Background.jpg");
 background-repeat: no-repeat;
 background-size:cover;
 background-attachment:fixed;
 }
 
 
 
p {
text-align: center;
line-height: 2;
}
 
 
 h1 {
text-align: center;
color: #469197
}
 
 
h2 {
display: inline;
font-size: 20px;
color: #469197
}

h3 {
text-align: right;
color: #469197
}

h4 {
padding-bottom: 25px;
color: #469197
}

li {
padding:25px;
text-align: center;
list-style: none; 
}

div.buttons {
	margin: 0 auto;
	width: 195px;
	padding-top: 25px;
}

h2, h3, h4 {
display: inline;
margin: auto 0;
}

img.image1 {
display: block;
margin: auto;
padding-top: 25px;
}

img.image2 {
display: block;
margin: auto;
}

img.image3 {
display: block;
float: left;
padding-top: 20px;
}

img.image4 {
display: block;
margin: auto;
padding-bottom: 30px 
}

VP {
display: inline;
}

p.info1 {
padding: 95px;
}

p.info2 {
padding: 75px;
}

p.info3 {
padding: 110;
}

p.info4 {
padding: 82px;
}

p.info5 {
padding: 100px;
}
